<nav class="navbar navbar-expand-lg navbar-light mb-5">
  <span class="navbar-brand"><strong>My TODO List</strong></span>
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/add" routerLinkActive="text-light">ADD Item</a>
      <a class="nav-item nav-link" routerLink="/list" routerLinkActive="text-light">LIST Items</a>
      <a class="nav-item nav-link" routerLink="/favorite" routerLinkActive="text-light">FAVOURITE TODO LIST</a>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>